html {
    height: 100%;
}

* {
    font-family: 'Prompt', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* background: url(/img/bg.png) no-repeat center fixed; */
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 136, 0);
    /* align-items: center; */
    min-height: 100%;
    /* font-family: "lato", sans-serif; */
}

/* ipad Screen  */

/* Desktop Screen  */

.option {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.scorbarfunction {
    height: 600px;
    width: 80%;
}

.scorbarnumber {
    height: 500px;
    width: 100%;
}

.scorbarresource {
    height: 600px;
    width: 100%;
}

.conmain1 {
    /* background-color: #8fecf8; */
    overflow: hidden;
    position: fixed;
    top: 70px;
    width: 98%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}

.conmain {
    overflow: hidden;
    position: fixed;
    top: 100px;
    width: 98%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}

.container {
    /* background-color: whitesmoke; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    width: 37%;
    display: flex;
    background-color: ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containera {
    /* background-color: green; */
    background-color: rgb(0, 95, 219);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containera2 {
    /* background-color: green; */
    /* background-color: whitesmoke; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 10px; */
    width: 35%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: start; */
    justify-content: space-around;
}

.containerc {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 17px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: #191970;
}

.name2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 17px;
    color: #191970;
}

.login:hover {
    background-color: #8fecf8;
}

.div1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.divfor {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.username {
    /* max-width: 1ch !important; */
    width: 45px;
    height: 40px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.password {
    width: 250px;
    height: 40px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login {
    width: 150px;
    height: 40px;
    color: #191970;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #191970; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar {
    height: 100px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 25px;
    width: 100%;
}

.barname {
    display: flex;
    flex: 1;
    width: 65%;
    align-self: center;
}

.option {
    /* background-color: orangered; */
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

input {
    text-align: center;
}

.inhide {
    background-color: whitesmoke;
    width: 45px;
    height: 40px;
    font-size: medium;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}

.item {
    width: 90px;
}

.item1 {
    width: 70px;
}

.item2 {
    width: 120px;
}

.item3 {
    width: 70px;
}

.ob1 {
    /* background-color: orange; */
    width: 35%;
    display: flex;
    justify-content: center;
}

.ob2 {
    /* background-color: orange; */
    width: 20%;
    display: flex;
    justify-content: center;
}

.ob3 {
    /* background-color: orange; */
    width: 35%;
    display: flex;
    justify-content: center;
}

.function {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    /* cursor: pointer; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.function:hover {
    background-color: #8fecf8;
}

/* tr:nth-child(odd),a:nth-child(odd),button:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even),a:nth-child(even),button:nth-child(even) {
    background-color: #fff;
} */

.resorcecontainner {
    margin-top: 10px;
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
}

.loadmorebox {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 20%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    z-index: 1;
    margin-top: 70px;
}

.loadmoredata {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.object {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 5px;
    width: 210px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.nameresorce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 17px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: #191970;
}

.minitable {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: #191970;
}

.dataof5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25px;
    font-size: 12px;
    /* border: 0px solid rgb(189, 185, 185);
    background-color: rgb(189, 185, 185); */
    /* border-radius: 4px; */
    /* cursor: pointer; */
    margin-bottom: 7px;
}

.seemore {
    display: flex;
    margin-top: 50px;
    width: 100px;
    height: 25px;
    font-size: 12px;
    border: 0px solid rgb(189, 185, 185);
    background-color: rgb(189, 185, 185);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 7px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.getjsontable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: green; */
}

.getjsontable>div {
    background-color: #f4f4f4;
    width: auto;
    height: auto;
    margin: 15px;
    /* font-size: 40px;  */
}

.field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.field2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    width: 70%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
}

.fieldsreach {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 95, 219);
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.inputtext {
    width: 70%;
    height: 30px;
    /* color: azure; */
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #191970; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonn {
    width: 30%;
    height: 33px;
    color: rgb(255, 255, 255);
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    background-color:rgb(255, 133, 32);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showdatail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.showdatail-split {
    display: flex;
    flex-direction: row;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.showdatail-split .left-panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.showdatail-split .right-panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.buttonedit{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 10px;
    
}
.input{
    /* width: 70%; */
    /* height: 30px; */
    color: azure;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #191970; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}